<footer id="layout-footer">
    <div>
        <p>
            @Coding Ninjas. &nbsp; All Rights Reserved 
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <% if (locals.user){ %>
                <li>
                    <li>
                        <a href="/users/profile"> 
                             <%= user.name%></a>
                     </li>
                </li>
                <% } %>
            </ul>
        </nav>
    </div>

</footer>